In [154]:
import pandas as pd
import numpy as np

from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO  

from IPython.display import Image
import pydotplus

C:\Users\TANMAY SRIVASTAVA\anaconda3\lib\site-packages\sklearn\externals\six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)

In [2]:
arr=[[0,1,1,0,0,1,1,1,0,['sc']],[0,0,1,1,1,1,0,0,1,['ma','en']],[0,0,0,1,1,1,1,1,1,['ma']],[1,0,1,0,0,1,0,1,0,['sc','en']]]
arr

[[0, 1, 1, 0, 0, 1, 1, 1, 0, ['sc']],
 [0, 0, 1, 1, 1, 1, 0, 0, 1, ['ma', 'en']],
 [0, 0, 0, 1, 1, 1, 1, 1, 1, ['ma']],
 [1, 0, 1, 0, 0, 1, 0, 1, 0, ['sc', 'en']]]

In [3]:
cols=['q1','q2','q3','q4','q5','q6','q7','q8','q9','tuittion req for sub']
df=pd.DataFrame(arr,columns=cols)
df

   q1  q2  q3  q4  q5  q6  q7  q8  q9 tuittion req for sub
0   0   1   1   0   0   1   1   1   0                 [sc]
1   0   0   1   1   1   1   0   0   1             [ma, en]
2   0   0   0   1   1   1   1   1   1                 [ma]
3   1   0   1   0   0   1   0   1   0             [sc, en]

array([list(['sc']), list(['ma', 'en']), list(['ma']), list(['sc', 'en'])],
      dtype=object)

In [44]:
q1=np.random.randint(2,size=1000)
q2=np.random.randint(2,size=1000)
q3=np.random.randint(2,size=1000)
q4=np.random.randint(2,size=1000)
q5=np.random.randint(2,size=1000)
q6=np.random.randint(2,size=1000)
q7=np.random.randint(2,size=1000)
q8=np.random.randint(2,size=1000)
q9=np.random.randint(2,size=1000)

list(q1)

[1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0]

In [136]:
dic={'q1':list(q1),'q2':list(q2),'q3':list(q3),'q4':list(q4),'q5':list(q5),'q6':list(q6),'q7':list(q7),'q8':list(q8),'q9':list(q9),'Science':[0 for i in range(1000)],'Maths':[0 for i in range(1000)],'Eng':[0 for i in range(1000)]}

In [137]:
df1=pd.DataFrame(dic)
df1

     q1  q2  q3  q4  q5  q6  q7  q8  q9  Science  Maths  Eng
0     1   1   1   1   0   1   0   1   1        0      0    0
1     0   1   1   1   0   0   0   1   0        0      0    0
2     0   1   0   1   1   1   1   0   0        0      0    0
3     0   0   1   0   1   1   0   1   0        0      0    0
4     1   0   1   0   1   1   1   0   0        0      0    0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..      ...    ...  ...
995   1   1   1   1   0   1   0   0   0        0      0    0
996   1   0   1   1   1   1   0   1   1        0      0    0
997   0   0   0   0   0   1   1   1   0        0      0    0
998   1   1   1   0   1   0   0   1   0        0      0    0
999   0   1   1   1   1   0   1   1   0        0      0    0

[1000 rows x 12 columns]

In [139]:
count=0
for i in range(1000):
    if sum(df1.iloc[i,0:3])<2:
#         print(type(df1.iloc[i,9]))
        df1.iloc[i,9]=1
#         print(str(temp)+'\n')
#         print(df1.iloc[i,9])
#         df1.iloc[i,9]=temp
df1.head()

   q1  q2  q3  q4  q5  q6  q7  q8  q9  Science  Maths  Eng
0   1   1   1   1   0   1   0   1   1        0      0    0
1   0   1   1   1   0   0   0   1   0        0      0    0
2   0   1   0   1   1   1   1   0   0        1      0    0
3   0   0   1   0   1   1   0   1   0        1      0    0
4   1   0   1   0   1   1   1   0   0        0      0    0

In [140]:
for i in range(1000):
    if sum(df1.iloc[i,3:6])<2:
#         print(type(df1.iloc[i,9]))
        df1.iloc[i,10]=1
#         print(str(temp)+'\n')
#         print(df1.iloc[i,9])
#         df1.iloc[i,9]=temp

In [141]:
for i in range(1000):
    if sum(df1.iloc[i,6:9])<2:
#         print(type(df1.iloc[i,9]))
        df1.iloc[i,11]=1

In [142]:
df1.head(15)

    q1  q2  q3  q4  q5  q6  q7  q8  q9  Science  Maths  Eng
0    1   1   1   1   0   1   0   1   1        0      0    0
1    0   1   1   1   0   0   0   1   0        0      1    1
2    0   1   0   1   1   1   1   0   0        1      0    1
3    0   0   1   0   1   1   0   1   0        1      0    1
4    1   0   1   0   1   1   1   0   0        0      0    1
5    0   0   0   0   0   1   0   1   1        1      1    0
6    1   0   1   0   0   1   1   0   1        0      1    0
7    1   0   0   0   1   0   1   0   1        1      1    0
8    1   1   1   1   0   1   1   0   1        0      0    0
9    0   0   0   1   1   1   0   1   1        1      0    0
10   0   1   1   0   1   0   0   0   0        0      1    1
11   1   0   1   0   0   1   0   1   0        0      1    1
12   1   0   1   0   1   0   1   1   0        0      1    0
13   0   0   0   1   1   1   0   1   0        1      0    1
14   1   1   1   1   0   0   0   0   1        0      1    1

In [150]:
# this is for science only 1st 3 questions for sc , next 3 for mat ,next 3 for eng
x1=df1.iloc[:,:3]
y1=df1.iloc[:, 9]
X1=np.array(x1)
Y1=np.array(y1)
# for i in range(1000):
#     print(X[i],Y[i])

In [151]:
tree1=DecisionTreeClassifier(criterion='entropy')
tree1.fit(X1,Y1)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

dot_data = StringIO()
export_graphviz(tree1, out_file=dot_data,  
                filled=True, rounded=True,
                special_characters=True)
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
Image(graph.create_png(), width=800, height=300)

In [163]:
predict1 = tree1.predict(X1)
# predict

In [159]:
from sklearn import metrics
print('Accucary:', metrics.accuracy_score(Y1, predict))

Accucary: 1.0

In [160]:
x2=df1.iloc[:,3:6]
y2=df1.iloc[:, 10]
X2=np.array(x2)
Y2=np.array(y2)

In [161]:
tree2=DecisionTreeClassifier(criterion='entropy')
tree2.fit(X2,Y2)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [165]:
predict2=tree2.predict(X1)
print('Accucary:', metrics.accuracy_score(Y1, predict2))

Accucary: 1.0

In [166]:
x3=df1.iloc[:,6:9]
y3=df1.iloc[:, 11]
X3=np.array(x3)
Y3=np.array(y3)

In [168]:
tree3=DecisionTreeClassifier(criterion='entropy')
tree3.fit(X3,Y3)
predict3=tree3.predict(X1)
print('Accucary:', metrics.accuracy_score(Y1, predict3))

Accucary: 1.0

In [169]:
df1.to_csv('Sampledataset.csv')